pip install fastapi uvicorn pandas numpy
pip install sqlalchemy psycopg2-binary 
pip install python-jose[cryptography] passlib email-validator

pip install fastapi uvicorn sqlalchemy psycopg2-binary pgvector
pip install pydantic python-multipart requests redis spacy
pip install  python-docx openpyxl xlrd requests

python -m pip install pymupdf pytesseract pillow pdf2image 
python -m spacy download en_core_web_sm